<div>
   <div id="header">
       <header>
     <ul>
     <li> <span class="right_header">Welcome {{currentUser.firstName}} | {{today | date}} | <a [routerLink]="['/login']">Logout</a> </span></li>
        <li><span class="main_header" >Make My Trip</span></li>    
            </ul>
            <img src = "http://img1.sendscraps.com/se/053/dussehra_003.gif" width="1000" height="100"/>
            </header>
   </div>
  <nav>
<a routerLink="/mainhome" routerLinkActive="active">Home</a>   
<a routerLink="/assements" routerLinkActive="active">Flight Bookings</a> 

    </nav>
 <mainhome></mainhome>
 </div>