<div id="parent">
<div class="image">

<img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqe-tmq_4kpoVtGI6utyco_9o5NWoo9xYM_vLtKhjaIpO7PFpk7w" height="300" width="300"/>;
</div>
<div class="image">

<img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5gd5XTMQgvSHhxC_cRWcjD4Ymh8tvEBq6arT4AZDiKka0itAvMOTzBAkF" height="300" width="300"/>;
</div>

</div>
<div id="wrapper">
   
    <div id="leftcolumn">
  <img src = "http://images.financialexpress.com/2015/11/air-india1.jpg" height = "500" width = "500"/>
</div>

</div>
